
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fbe2c6, #fff9e1, #fbe2c6);
  color: #333;
  text-align: center;
  padding: 1rem;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
}

a {
  color: #333;
  text-decoration: underline;
}

.address {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.socials a {
  color: #333;
  font-size: 2.5rem;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.logo {
  width: 60%;
}