* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding-bottom: 5px;
}

.footer {
    background-color: #eeeded;
    text-align: center;
    width: 100%;
    font-size: small;
    margin-top: 2rem;
}

.socials .media {
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: #333;
}

.copyrigth {
    width: 80%;
    margin: 16px auto;
}

ion-button.md {
    text-transform: none;
}