<div class="footer">
    @if (showIrInicio) {
        <ion-button fill="clear" strong="true" (click)="goToInicio()">Volver</ion-button>
    } @else {
        <ion-button fill="clear" strong="true" (click)="goToContactar()">Comida por encargo</ion-button>
    }
    <div class="socials">
        <a href="https://www.instagram.com/sabrosonafood?igsh=eDJyMm10bmViZGFl&utm_source=qr" target="_blank">
            <ion-icon class="media" name="logo-instagram"></ion-icon>
        </a>
    </div>
    <p class="copyrigth">Copyrigth © 2026 - Todos los derechos reservados por Sabrosona Food</p>
</div>