<ion-content fullscreen>
    <app-header></app-header>
    <div class="home-container">
        <div class="logo">
            <img src="assets/icon/logo-transparente.png" alt="SABROSONA" />
        </div>
        <div class="carta">
            <ion-button class="fisrt-button" expand="block" (click)="goToCarta('fritura')">Frituras</ion-button>
            <ion-button class="fisrt-button" expand="block" (click)="goToCarta('patatas_fritas')">Patatas fritas</ion-button>
            <ion-button class="fourth-button" expand="block" (click)="goToCarta('tortillas')">Tortillas por encargo</ion-button>
            <ion-button class="third-button" expand="block" (click)="goToCarta('combinados')">Platos combinados</ion-button>
            <ion-button class="second-button" expand="block" (click)="goToCarta('guisos')">Guisos</ion-button>
        </div>
        <app-footer></app-footer>
    </div>
</ion-content>