<ion-content fullscreen>
    <app-header></app-header>
    <div class="home-container">
        <div class="logo">
            <img src="assets/icon/logo-transparente.png" alt="SABROSONA" />
        </div>
        <div class="carta">
            <ion-button class="fisrt-button" expand="block" (click)="goToCarta('platos')">Platos por encargo</ion-button>
            <ion-button class="second-button" expand="block" (click)="goToCarta('menu')">Menú del día</ion-button>
            <ion-button class="third-button" expand="block" (click)="goToCarta('bocadillos')">Bocadillos</ion-button>
            <ion-button class="fourth-button" expand="block" (click)="goToCarta('bebidas')">Bebidas</ion-button>
        </div>
        <app-footer></app-footer>
    </div>
</ion-content>