<ion-content fullscreen>
    <app-header></app-header>
    <div class="container">
        @for (tipo of tiposProducto; track $index) {
            <div class="tipo">
                <h1>{{ tipo }}</h1>
                @for (producto of getProductosPorTipo(tipo); track $index) {
                    @if (tipo === producto.tipoProducto) {
                        <ion-item>
                            <ion-label>
                                <h2>{{ producto.nombre }}</h2>
                                @if (producto.descripcion) {
                                    <p class="descripcion">{{ producto.descripcion }}</p>
                                }
                            </ion-label>
                            @if (producto.precio) {
                            <ion-note slot="end">{{ producto.precio }} €</ion-note>
                            } @else {
                            <ion-note slot="end">{{ producto.precioMin }} € / {{ producto.precioMax }} €</ion-note>
                            }
                            
                        </ion-item>
                    }
                }
            </div>
        <!--<ion-list class="productos">
            <ion-list-header class="tipo-producto">
                <ion-label>{{ tipo }}</ion-label>
            </ion-list-header>
            @for (producto of getProductosPorTipo(tipo); track $index) {
            @if (tipo === producto.tipoProducto) {
            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{ producto.nombre }}</ion-card-title>
                    @if (producto.descripcion) {
                    <ion-card-subtitle *ngIf="producto.descripcion">
                        {{ producto.descripcion }}
                    </ion-card-subtitle>
                    }
                </ion-card-header>
                <ion-card-content>
                    <ion-label>
                        @if (producto.precio) {
                        {{ producto.precio }} €
                        } @else {
                        {{ producto.precioMin }} € / {{ producto.precioMax }} €
                        }
                    </ion-label>
                </ion-card-content>
            </ion-card>
            }
            }
        </ion-list>-->
        }
    </div>
    <app-footer [showIrInicio]="true"></app-footer>
</ion-content>