<ion-content [fullscreen]="true">
    <div class="home-container">
        <img src="assets/icon/logo-transparente.png" alt="SABROSONA" class="logo" />
        <h1>¡Próxima apertura!</h1>
        <p class="subtitle">Estamos preparando algo sabroso.</p>
        <p class="address">
            <ion-icon name="pin-outline"></ion-icon>
            <a href="https://maps.app.goo.gl/mhQ9qy3JJmhH47a8A" target="_blank">Avenida de Cádiz 74, Los Palacios y Villafranca</a>
        </p>
        <div class="socials">
            <a href="https://www.instagram.com/sabrosonafood?igsh=eDJyMm10bmViZGFl&utm_source=qr" target="_blank">
                <ion-icon class="media" name="logo-instagram"></ion-icon>
            </a>
            <a href="https://facebook.com" target="_blank">
                <ion-icon class="media" name="logo-facebook"></ion-icon>
            </a>
        </div>
    </div>
</ion-content>