<ion-content [fullscreen]="true">
    <div class="home-container">
        <img src="assets/icon/logo-transparente.png" alt="SABROSONA" class="logo" />
        <h1>🎉Apertura el Sábado 23 de mayo🎉</h1>
        <h2>📅 Horario: Martes a Domingo de 11:00 a 16:00 y de 19:00 a 23:00.</h2>
        <br>
        <p class="subtitle">🔥¡Segunda unidad al 50% durante el finde de apertura!🔥</p>
        <p class="subtitle">Pronto tendremos disponible nuestra carta. Mientras tanto...no dudes en llamarnos para
            conocer nuestra comida por encargo</p>
        <p class="address">
            📍<a href="https://maps.app.goo.gl/mhQ9qy3JJmhH47a8A">Avenida de Cádiz 74, Los Palacios y
                Villafranca</a>
        </p>
        <div class="socials">
            <a href="https://www.instagram.com/sabrosonafood?igsh=eDJyMm10bmViZGFl&utm_source=qr" target="_blank">
                <ion-icon class="media" name="logo-instagram"></ion-icon>
            </a>
            <a href="tel:+34644912226">
                <ion-icon class="media" name="call-outline"></ion-icon>
            </a>
        </div>
    </div>
</ion-content>